body {
    font-family: Arial, sans-serif;
    background-color: #eee2df;
    padding: 2rem;
  }
  
  #matricula-form {
    background-color: #fff;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  #matricula-title {
    text-align: center;
    margin-bottom: 2rem;
  }
  
  #matricula-form div {
    margin-bottom: 1.5rem;
  }
  
  #matricula-form label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  #matricula-form input,
  #matricula-form select {
    width: 100%;
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  #matricula-form button[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #matricula-form button[type="submit"]:hover {
    background-color: #45a049;
  }